//font definitions
@font-face {
  font-family: 'Nevis-Bold';
  src: url('../fonts/Nevis-Bold.ttf.woff') format('woff'),
       url('../fonts/Nevis-Bold.ttf.svg#Nevis-Bold') format('svg'),
       url('../fonts/Nevis-Bold.ttf.eot'),
       url('../fonts/Nevis-Bold.ttf.eot?#iefix') format('embedded-opentype');
}

//font stacks
$heading-font: Nevis-Bold, Arial, sans-serif;
$body-font: Helvetica, Arial, sans-serif;

//colors
$primary-color: #ff94ac;
$c-l-1: lighten($primary-color, 5%);
$c-l-2: lighten($primary-color, 10%);
$c-l-3: lighten($primary-color, 15%);
$c-d-1: darken($primary-color, 5%);
$c-d-2: darken($primary-color, 10%);
$c-d-3: darken($primary-color, 15%);

//breakpoints
$tablet-bp: 'screen and (min-width: 768px)';
$desktop-bp: 'screen and (min-width: 992px)';
