@{
  Layout="Shared/_Layout.cshtml";
}

<section id="landing-hero">
  <div class="mesh"></div>
  <div class="title">
    <h1>Nicki Min-API</h1>
    <p>
      A RESTful API for Nicki Minaj music
  </div>
</section>
