<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NickiMinAPI</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/Content/css/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        NickiMinAPI
      </div>
      @RenderBody()
    </div>
  </body>
</html>
