@font-face {
  font-family: 'Nevis-Bold';
  src: url("../fonts/Nevis-Bold.ttf.woff") format("woff"), url("../fonts/Nevis-Bold.ttf.svg#Nevis-Bold") format("svg"), url("../fonts/Nevis-Bold.ttf.eot"), url("../fonts/Nevis-Bold.ttf.eot?#iefix") format("embedded-opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Nevis-Bold, Arial, sans-serif;
}

.burger {
  width: 50px;
  height: 35px;
  position: relative;
  transform: scale(0.5);
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .burger {
    display: none;
  }
}
.burger span {
  display: block;
  background-color: #000;
  height: 5px;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: all .75s;
  transition-delay: .5s;
}
.burger span:nth-child(1) {
  top: 0;
  transform-origin: 0 2.5px;
}
.burger span:nth-child(2) {
  top: 15px;
}
.burger span:nth-child(3) {
  transform-origin: 0 2.5px;
  top: 30px;
}
.burger .toggle-top {
  animation: spin-right 1s forwards;
}
.burger .toggle-top-reverse {
  animation: spin-right-reverse 1s forwards;
}
.burger .middle {
  opacity: 0;
}
.burger .toggle-bottom {
  transform-origin: left center;
  animation: spin-left 1s forwards;
}
.burger .toggle-bottom-reverse {
  transform-origin: left center;
  animation: spin-left-reverse 1s forwards;
}
@keyframes spin-right {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-35deg);
  }
  100% {
    transform: rotate(405deg);
    top: -2.5px;
    left: 7.5px;
  }
}
@keyframes spin-left {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(-405deg);
    top: 32.5px;
    left: 7.5px;
  }
}
@keyframes spin-right-reverse {
  0% {
    transform: rotate(405deg);
    top: -2.5px;
    left: 7.5px;
  }
  20% {
    transform: rotate(440deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes spin-left-reverse {
  0% {
    transform: rotate(-405deg);
    top: 32.5px;
    left: 7.5px;
  }
  20% {
    transform: rotate(-440deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#landing-hero {
  background-image: url("../img/landing-bg.jpg");
  background-size: auto 100%;
  background-position: right;
  background-repeat: no-repeat;
}

header {
  height: 80px;
  width: 100%;
  padding: 15px 60px;
  border: 1px dashed black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  list-style-type: none;
}
nav ul.desktop-nav li {
  display: inline-block;
  margin-left: 40px;
  display: none;
}
@media screen and (min-width: 992px) {
  nav ul.desktop-nav li {
    display: inline-block;
  }
}
nav ul.mobile-nav li {
  display: none;
}

#landing-hero {
  position: relative;
  width: 100%;
  height: calc(100% - 80px);
}
#landing-hero .title {
  position: absolute;
  top: 18%;
  left: -15px;
  transform: rotate(-60deg);
}
@media screen and (min-width: 768px) {
  #landing-hero .title {
    left: 10%;
    transform: rotate(0);
  }
}
#landing-hero .title p {
  max-width: 200px;
}
@media screen and (min-width: 768px) {
  #landing-hero .title p {
    max-width: 300px;
  }
}
@media screen and (min-width: 992px) {
  #landing-hero .title p {
    max-width: 400px;
  }
}

.social-icons {
  height: 30px;
  width: 80px;
  display: flex;
  justify-content: space-between;
}
.social-icons .twitter, .social-icons .github {
  height: 30px;
  width: 30px;
  background: black;
}

.landing-container {
  height: 100%;
  width: 100%;
}
.landing-container .social-icons {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

/*# sourceMappingURL=styles.css.map */
