#lorem-minaj {
  @include grid-container;

  h2, #lorem-generator, #lorem-output {
    @include grid-column(12);

    margin-bottom: 30px;
  }

  #lorem-generator {
    button[type="submit"] {
      font-size: 20px;
      padding: 10px;
      width: 120px;
      text-align: center;
      margin-left: 15px;
      background-color: $c-d-3;
      color: white;
      border: 1px solid $c-l-1;
      border-radius: 5px;
      transition: color .3s, background-color .3s;
      cursor: pointer;

      &:hover, &:active {
        background-color: black;
        color: $c-d-1;
      }
    }
    input[type="number"] {
      font-size: 20px;
      padding: 10px;
      width: 60px;
      text-align: center;
      margin-left: 15px;
      background-color: $c-l-3;
      border: 1px solid $c-l-1;
      border-radius: 5px;

      &:focus {
        outline-color: $c-d-1;
      }
    }
  }

  #lorem-output {
    min-height: 100px;
    background-color: $c-l-3;
    border: 1px solid $c-l-1;
    padding: 10px;
    border-radius: 5px;
  }
}
