nav {
  ul {
    list-style-type: none;

    &.desktop-nav li {
      display: inline-block;
      margin-left: 40px;
      display: none;

      @include desktop-bp {
        display: inline-block;
      }
    }

    &.mobile-nav li {
      display: none;
      @include desktop-bp {
      }
    }
  }
}
