textarea {
  background-color: $c-l-3;
  width: 100%;
  height: auto;
  font-size: 16px;
  padding: 20px;
  overflow: hidden;
  resize: none;

  &:not(.output) {
    height: 65px;
  }
}

button[type="submit"] {
  font-size: 20px;
  padding: 10px;
  width: 100%;
  text-align: center;
  background-color: $c-d-3;
  color: white;
  border: 1px solid $c-l-1;
  border-radius: 5px;
  transition: color .3s, background-color .3s;
  cursor: pointer;

  @include tablet-bp {
    margin-left: 15px;
    width: 120px;
  }

  &:hover, &:active {
    background-color: black;
    color: $c-d-1;
  }
}
input[type="number"], input[type="text"] {
  font-size: 20px;
  padding: 10px;
  width: 100%;
  text-align: center;
  background-color: $c-l-3;
  border: 1px solid $c-l-1;
  border-radius: 5px;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;

  @include tablet-bp {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    width: auto;
  }

  &:focus {
    outline-color: $c-d-1;
  }
}
